# Flutter/Dart
build/
.dart_tool/
.packages
.pub/
.pub-cache/
.pub-cache/
.idea/
.vscode/

# Platforms
android/
ios/
macos/
windows/
linux/
web/

# C/C++ native
.cxx/
native_assets/
reports/

# Misc
*.log
.env
.env.*
node_modules/
coverage/
uploads/
.flutter-plugins-dependencies
